/*global-style-start-here*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
i {
    margin: 0;
    padding: 0;

}

:root {
    --bgColor: #eeeeee;
    --themeColor: #cdcdcd;
    --hoverColor: #1a2930;
    --btnColor: rgb(255, 167, 0);
    --btnHvColor: rgba(246, 159, 0, 0.78);
}

img {
    max-width: 100%;
}

.common-color {
    color: var(--btnColor);
}

.section-gap {
    margin-top: 100px;
}

.common-btn-color {
    background-color: var(--btnHvColor);
}

.text-color {
    color: silver;
}

/*topbar-section-style-start-from-here*/
.topbar {
    background: var(--bgColor);

}

.topbar-logo-section img {
    width: 200px;
}

.topbar-center-section img {
    width: 40px;
    height: auto;
}

.topbar-center-section h4 {
    font-size: 16px;
    margin-top: 10px;
    padding-left: 10px;
    color: var(--btnColor);
    font-weight: 500;
}

.button-area a button {
    font-size: 18px;
    font-weight: 700;
}

.solid-button {
    background: var(--btnColor);

    color: white;
    border: 2px solid var(--btnColor);
    transition: .5s ease;
    padding: 12px 50px;
    margin-right: 5px;
}

.solid-button:hover {
    background: var(--hoverColor);
    border: solid 2px var(--hoverColor);
}

.outline-button {
    border: 2px solid var(--btnColor);
    transition: .5s ease;
    padding: 12px 50px;
    margin-left: 5px;
    color: var(--btnColor);
}

.outline-button:hover {
    border: 2px solid var(--hoverColor);
    color: var(--hoverColor);
}

/*topbar-section-style-end-here*/
/*menubar-section-style-start-here*/
.menubar-section {
    background-color: var(--themeColor);
    border-bottom: solid 3px var(--btnColor) !important;
    padding: 4px;

}
.main-menu-item a {
    color: rgb(51, 51, 51) !important;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;

}

.main-menu-item a:hover {
    background-color: var(--btnColor) !important;
}
.mega-menu {
    position: absolute;
    z-index: 99;
    width: 100%;
    background: white;
    padding: 15px 10px;
    border-top: 3px solid var(--btnColor);
    left: 0px;
    top: 34px;
    display: none;
}
.mega-menu a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 5px;
    background: #fafafa;
    margin-top: 1px;
    transition: .5s ease;
}

/*menubar-section-style-end-here*/
/*banner-section-style-start-from-here*/
.banner-content {
    position: relative;
}

.banner-content-left img {
    width: 390px;
    height: 497px;
    position: absolute;
    top: 48%;
    left: 59%;
    transform: translate(-50%, -50%);
}

.banner-content-left {
    padding: 112px 71px !important;
}

.banner-content-right {
    padding: 112px 117px !important;
}

.banner-content-right {
    background-color: var(--btnColor);
}

.banner-content-left .searchbar {
    z-index: 9;
}

/*banner-section-style-end-here*/
/*upgrading-phone-section-style-start-from-here*/

.phone-price-btn button {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--btnColor);
    border: solid 3px var(--btnColor);
    padding: 10px;
    margin: 7px auto;

}

.phone-price-btn:hover button {
    color: var(--btnHvColor);
    border: solid 3px var(--btnHvColor);
}

.popular-cellphone a {
    font-size: 18px !important;
    font-weight: 700;
    color: var(--hoverColor);
    text-decoration: none;
}

.popular-cellphone a:hover {
    text-decoration: underline;
}

/*upgrading-phone-section-style-end-here*/
/*popular-phone-section-style-start-from-here*/
.popular-phone-section {
    border: solid 2px var(--themeColor) !important;
}

.popular-phone-section-compare-price {
    font-size: 16px !important;
    font-weight: 700 !important;
    margin-bottom: 19px !important;
}

/*popular-phone-section-style-end-here*/
/*brand-section-style-start-from-here*/
.brand-logo {
    padding: 10px 20px;
    border: solid 1px var(--themeColor) !important;
}

.brand-logo img {
    max-width: 100%;
    width: 200px;
    height: 150px;

}

/*brand-section-style-end-here*/
/*sprites-image-brand-section-style-start-from-here*/
.sprites-image-brand img {
    width: 220px;
    height: 75px;
}

/*sprites-image-brand-section-style-end-here*/
/*sell-your-phone-in-4-simple-steps-section-style-start-from-here*/

/*sell-your-phone-in-4-simple-steps-section-style-end-here*/
/*testimonials-section-style-start-from-here*/
.testimonials-section-card-img {
    max-width: 100%;
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    border: solid 5px silver;
    position: absolute;
    left: 50%;
    bottom: 51%;
    transform: translate(-50%, -58%);
}

.testimonials-section-address {
    font-size: 13px;
    font-weight: 700;
    margin: 10px 20px;
}

/*testimonials-section-style-end-here*/

/*testimonials-logo-section-style-start-from-here*/
.testimonial-logo img {
    height: 200px;
    width: 272px;
}

.details-section-disc h4 {
    font-size: 24px !important;
}

.details-section-disc p {
    font-size: 14px !important;
    font-weight: 400;
    line-height: 20px;

}

.details-section-disc ol {
    font-size: 14px !important;
    font-weight: 400;
    line-height: 20px;
}

/*testimonials-logo-section-style-end-here*/

/* details-sections-style-start-from-here */
.details-section-heading h2 {
    border-top: solid 2px var(--btnColor);
    border-bottom: solid 2px var(--btnColor);
    padding: 10px 5px;
}

/* details-sections-style-end-here */
/* best-cell-phone-section-style-from-here */
.best-cell-phone-section-footer {
    margin-top: 50px;
    background-color: var(--bgColor);
}

.best-cell-phone-section-heading h2 {
    border-top: solid 2px var(--btnColor);
    border-bottom: solid 2px var(--btnColor);
    padding: 10px 5px;
}

.best-cell-phone-section-heading a {
    background-color: var(--btnColor);
    color: white;
    padding: 6px 30px;
    text-decoration: none;

}

.best-cell-phone-section-footer-link {
    font-size: .8rem;
    color: rgb(161, 156, 156);
    text-decoration: none;
    padding-left: 30px;

}

.best-cell-phone-section-footer-link:hover {

    color: rgb(161, 156, 156);
    text-decoration: underline;

}

/* best-cell-phone-section-end-here */
.footer-section-socal-icon-link {
    font-size: 3rem;
}

.footer-section-socal-icon-link .fa-youtube {
    color: red;
}



/* single-page-style-start-here */
.single-page-add {
    background-color: var(--bgColor);
}

.single-page-add p {
    font-size: 15px;
    padding: 5px 10px;
}

.singl-products-section-left-link {
    font-size: 15px;
}

.single-page-img-button-cgt {
    font-size: 17px;
}

.single-page-btn-sec {
    border-bottom: solid 3px rgba(235, 235, 235, 0.891);
    padding-bottom: 10px;
}

.single-page-img-button img {
    width: 100px;
    height: 30px;
    border-bottom: solid 5px silver;
    background-color: var(--bgColor);

}

.single-page-img-button img:active {
    border-bottom: solid 5px red;
}

.single-page-ctg-select-sec {
    border-bottom: solid 3px rgba(235, 235, 235, 0.891);
    padding-bottom: 10px;
}

.single-page-ctg-select-btn {
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    border-bottom: solid 5px rgb(134, 131, 131);
    background-color: var(--bgColor);

}
p.single-page-business-link {
    color: #ffff;
    font-size: 25px;
    padding-left: 49px;
    font-weight: 700;
}
.single-page-link {
    font-size: 15px !important;
    color: rgb(88, 88, 88) !important;
    font-size: 16px !important;
}

.single-page-link:hover {
    color: rgb(88, 88, 88);
    text-decoration: none;
}

.footer-section-socal-icon-link .fa-envelope-square {
    color: rgb(12, 11, 11);

}

.single-page-section-socal-icon-link .fa-twitter-square {
    color: #55ACEE;
}

.single-page-section-socal-icon-link .fa-facebook-square {
    color: #3B5998;
}

.single-page-business-bg-img {
    height: 284px;
    background: url(../../image/business.png) no-repeat;
    background-color: rgb(102, 102, 102);
    background-size: 98%;
    background-position: -43px 155px;
    text-decoration: none;
    padding: 20px 30px;
    width: 100%;
}
.singl-products-section-left-link{
    color: #ffffff;
}
.silgle-page-company-logo .silgle-page-company-logo {
    height: 65px;
    width: auto;
}

.single-page-trustpilot-logo img {
    height: 20px;
    width: auto;
}


.single-page-trustpilot-logo {
    position: relative;
}

.rating {
    display: inline;
    position: absolute;
    top: 69%;
    left: 53%;
    transform: translate(-50%, -50%);
}

.rating li span .fa-star {
    font-size: 15px;
    color: var(--btnColor);
    background-color: rgba(2, 53, 40, 0.397);
    margin: 1px;
    padding: 4px;
}
.single-page-prizing-section h2{
font-size: 50px;
font-weight: 700;
}
.single-page-compeny-sec-list ul li p {
    font-size: 14px;
    font-weight: 300;
}
.single-page-prizing-section h2 span{
    font-size :33px;
    
}
.single-page-prizing-section a{
    font-size: 24px;
    background-color: var(--btnColor);
    text-decoration: none;
    color: #ffffff;
    padding: 5px 20px;
    font-weight: 700;
    border-radius: 5px;
    letter-spacing: 3px;
}
/*responsive-style*/
@media only screen and (max-width: 1200px) {
    .menubar a {
        color: rgb(51, 51, 51) !important;
        padding: 7px 5px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;

    }

}

/* Medium devices (landscape tablets, 992PX and up) */
@media only screen and (max-width: 993px) {
    .topbar-center-section h4 {
        font-size: 14px;
        font-weight: 500;
        margin-top: 10px;
        padding-left: 5px;
    }

    .solid-button {
        padding: 10px 29px !important;
        margin-right: 5px;
    }

    .outline-button {
        padding: 10px 29px !important;
        margin-right: 5px;
    }

    .button-area {
        display: flex !important;
        align-items: center !important;
        align-content: center !important;
        /*padding-top: 20px !important;*/
    }

    .menubar a {
        padding: 7px 8px;
        font-size: 12px !important;
        font-weight: 600 !important;

    }

    .menubar {
        align-items: flex-start;
        text-align: left;

    }

    .banner-content-left {
        padding: 80px 110px 50px 10px !important;
    }

    .banner-content-right {
        padding: 20px 10px !important;
    }

    .banner-content-left img {

        width: 187px;
        height: 250px;
        position: absolute;
        top: 31%;
        left: 85%;
        transform: translate(-50%, -62%)
    }
}
/* best-pricing-genarate-section-style-start-here */
.best-price-genarate-banner {
background: url(../../../../image/best-price-genarate-banner.png) no-repeat top center ;
background-size: cover;
height: 450px;
}
.best-price-genarate-banner h2{
    font-size: 2rem;
    font-weight: 700;
    padding-top: 189px;
    padding-left: 102px;
}
.best-price-genarate-banner p{
    font-size: 15px;
    word-spacing: 4px;
}
.best-price-genarate-banner-heading h2{
font-size: 2rem;
font-weight: 800;
}
.best-price-genarate-content-sec-left{
    background: url(../../../../image/numbers.png) no-repeat right #ffaf03;
        height: 384px;
    

}
.best-price-genarate-content-sec-left h2{
    font-size: 2rem;
    color: #ffffff;
    padding: 10px 40px 20px 74px;

}
.best-price-genarate-content-sec-left h2 span{
    font-weight:700 ;
}
.best-price-genarate-content-sec-right p{
    padding-top: 20px;
    font-size: 15px;
    color: silver;
}
.best-price-genarate-content-sec-right h6{
    font-size: 15px;
    font-weight: 300;
    color: rgb(255, 196, 0);
}
.best-price-genarate-content-sec-right h6 a{
    color: silver;
    
}
.best-price-genarate-content-sec-right img{
    margin-left: auto;
    height: 153px;
    width: 155px;
    }
.best-price-genarate-content-sec-right{
        height: 384px;

}
.best-price-genarate-content-sec-right h6 a:hover{
    text-decoration: none;
}
/* best-pricing-genarate-section-style-ends-here */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 770px) {
    body {
        max-width: 100%;
        width: 100% !important;
        height: auto;
    }

    .menubar {
        flex-wrap: wrap;
    }

    .topbar-logo-section img {
        width: 150px;
        height: auto;
    }

    .topbar-center-section {
        display: none !important;
    }

    .responsive-menu span {
        color: var(--btnColor) !important;
        font-size: 2.5rem;

    }

    .outline-button {
        width: 100% !important;
        padding: 10px 29px !important;
    }

    .solid-button {
        width: 100% !important;

    }

    .button-area {
        margin-top: 20px;
    }

    .banner-content-left {
        padding: 80px 90px 50px 10px !important;
    }

    .banner-content-right {
        padding: 20px 10px !important;

    }

    .banner-content-left.h2 {
        font-size: 11rem !important;
        padding-left: 3rem;
    }

    .banner-content-left img {

        width: 164px;
        height: 197px;
        position: absolute;
        top: 41%;
        left: 77%;
        transform: translate(-38%, -60%);
    }

    .popular-cellphone a {
        font-size: 12px !important;
        font-weight: 700;
    }

    .simple-steps-section-text {
        font-size: 9px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 420px) {
    .banner-content-right h2 {
        font-size: 1.3rem;
        padding: 80px 110px 50px 10px !important;
    }

    .banner-card {
        margin-top: 7rem;

    }

    .banner-card {
        padding: 0;
        margin: 0;

    }

    .banner-content-left {
        padding: 80px 110px 50px 10px !important;
    }

    .banner-content-right {
        padding: 20px 10px !important;
    }

    .banner-content-left img {

        width: 152px;
        height: 154px;
        position: absolute;
        top: 33%;
        left: 63%;
        transform: translate(-50%, -62%);
    }

    .searchbar input,
    span {
        display: block;

        width: 100% !important;

    }

    .banner-card {
        display: block;
        width: 100%;
    }

    .searchbar {
        box-shadow: none !important;
    }

    .searchbar span {
        margin-top: 10px;
    }

    .banner-content-left {
        width: 100% !important;
    }
}